global
    daemon

defaults
    retries 3
    timeout connect 5s
    timeout client  1m
    timeout server  1m

frontend http-in
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    server web1 ptc-web1:80 check
    server web2 ptc-web2:80 check

